.reader-container {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;

  .left,
  .center_container,
  .right {
    
    overflow-y: auto; /* Pozwolenie na przewijanie */
    -ms-overflow-style: none;  /* Ukrycie pasków w IE */
    scrollbar-width: none;  /* Ukrycie pasków w Firefox */
  }

  .left::-webkit-scrollbar,
  .center_container::-webkit-scrollbar,
  .right::-webkit-scrollbar {
    display: none; /* Ukrycie pasków przewijania w Chrome, Safari */
  }

  .left {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: calc(100% * 3 / 6);
    border-right: 1px solid black;
    height: 100%;
    z-index: 1;
    overflow-y: auto;

    .head {
      position: relative;
      display: flex;
      width: 100%;

      .left_head {
        font-size: 300px;
        margin: 0; /* Usunięcie marginesu */
        padding: 0; /* Usunięcie paddingu */
      }
      .t {
        position: absolute;
        width: 33%;
        top: -60px;
        left: 0;
        display: flex;
        justify-content: center;
      }
      .e {
        position: absolute;
        width: 33%;
        top: -60px;
        left: 33%;
        display: flex;
        justify-content: center;
      }
      .x {
        position: absolute;
        width: 33%;
        top: -60px;
        left: 66%;
        display: flex;
        justify-content: center;
      }
    }

    .content-container {
      position: absolute;
      width: 100%;
      top: 350px;


      .bottom-panel {
        position: relative;
        width: 70%;
        margin: 0 auto ;
        border-top: 1px solid rgb(228, 228, 228);
        border-bottom: 1px solid rgb(228, 228, 228);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background-color: rgb(255, 255, 255);
        z-index: 1;
    
        .mini-upload-button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid rgb(228, 228, 228);
          font-size: 15px;
    
          &:hover {
            background-color: rgb(228, 228, 228);
            color: rgb(107, 107, 107);
          }
        }
    
        textarea {
          border: none;
          flex: 1;
          outline: none;
        }
    
        .send {
          margin-left: auto;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: transparent;
          border: 1px solid rgb(228, 228, 228);
          font-size: 15px;
        }
    
        .file-links {
          position: absolute;
    
          top: -44px;
          left: 50px;
          display: flex;
          align-items: center;
          gap: 5px;
    
          button {
            height: 44px;
            padding: 0 10px;
            background-color: transparent;
            border: 1px solid rgb(228, 228, 228);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }
      }
    }
  }



  .center_container {
    // background-color: rgb(217, 217, 217);
    width: calc(100% * 2 / 6);
    border-right: 1px solid black;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 50%;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;;

    .center {
      position: relative;
      display: flex;
      width: 100%;

      .head {
        position: relative;
        display: flex;
        width: 100%;
        margin: 0; /* Usunięcie marginesu */
        padding: 0; /* Usunięcie paddingu */

        .center_head {
          font-size: 300px;
          pointer-events: none;
        }

        .a {
          position: absolute;
          top: -60px;
          left: 0;
          width: 50%;
          display: flex;
          justify-content: center;
        }
        .ai {
          position: absolute;
          top: -60px;
          left: 50%;
          width: 50%;
          display: flex;
          justify-content: center;
        }
      }
    }
    .content-container {
      position: absolute;
      top: 400px;
    }
  }

  .right{
    width: calc(100% * 2 / 6);
    height: 100%;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3s ease;
    display: flex;
    overflow-y: auto;
    

    .head{
      position: relative;
      display: flex;
      width: 100%;

      .right_head{
        font-size: 300px;
        overflow-x: hidden;
        margin: 0; /* Usunięcie marginesu */
        padding: 0; /* Usunięcie paddingu */
      }
      .id{
        position: absolute;
        width: 50%;
        top: -60px;
        left: 0;
        display: flex;
        justify-content: center;
      }
      .d {
        position: absolute;
        width: 50%;
        top: -60px;
        left: 50%;
        display: flex;
        justify-content: center;
      }
    }

    .content-container {
      position: absolute;
      top: 300px
    } 
  }
}
















// .reader-container {
//   position: relative;
//   display: flex;
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;

//   .head_container{
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 10;
//     display: flex;

//     .head{
//       width: calc(100vw / 6);
//       height: calc(100vw / 6);
//       border: 1px solid red;

//       img{
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//       }
//     }
//   }

//   .left_analysis,
//   .right_summery {
//     transition: flex 0.5s ease-in-out;
//     padding: 20px;
//     overflow-y: auto;
//   }

//   .left_analysis {
//     background-color: #f5f5f5;
//   }

//   .right_summery {
//     background-color: #e0e0e0;
//   }

//   .l_head p,
//   .r_head p {
//     font-size: clamp(16px, 2vw, 24px);
//     text-align: center;
//     margin: 0;
//   }
// }
