.drawer {
  position: fixed;
  right: -650px;
  top: 0;
  width: 650px;
  height: 100%;
  display: flex;

  transition: right 0.3s ease;
  /* Smooth animation */
  font-size: 12px;
  z-index: 2;

  &.open {
    right: 0;
  }

  .openbutton {
    position: absolute;
    padding: 10px 25px 10px 10px;
    font-size: 26px;
    height: max-content;
    left: -30px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1;
    border-top-left-radius: 10px;
    /* Zaokrąglenie górnej lewej krawędzi */
    border-bottom-left-radius: 10px;

    &.tease {
      animation: tease 1s ease-in-out;
      animation-iteration-count: 2;

      @keyframes tease {
        0% {
          left: -30px;
        }

        25% {
          left: -50px;
        }

        50% {
          left: -30px;
        }

        75% {
          left: -50px;
        }

        100% {
          left: -30px;
        }
      }
    }
  }

  .prompt-history1 {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    z-index: 3;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .prompt-item {
      position: relative;
      display: flex;
      align-items: flex-start;
      gap: 10px;

      &:hover .tooltip {
        display: block; /* Pokaż tooltip */
        animation: fadeIn 0.4s ease forwards, moveUp 0.4s ease forwards; /* Dodaj animację */
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @keyframes moveUp {
        from {
          transform: translateY(10px);
        }
        to {
          transform: translateY(0);
        }
      }

      .x {
        border: none;
        font-size: 12px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5px;
        cursor: pointer;
      }

      a {
        margin-bottom: 10px;
        color: black;
        text-decoration: none;
        cursor: pointer;

        &.active-link {
          color: green; // Zmienna koloru używana w innych częściach projektu
        }
      }

      .tooltip {
        position: absolute;
        top: 0;
        left: 150px;
        width: 250px;
        height: 200px;
        // transform: translateX(-50%);
        background-color: #ffffff;
        color: #fff;
        padding: 8px;
        border-radius: 8px;
        font-size: 10px;
        z-index: 10;
        // white-space: nowrap;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;

        p {
          width: 100%;
        }
      }
    }
  }
}
